.inner {
  max-width: 100%;
  padding: 0 200px;
}

.panel {
  padding: 0;
  background-color: black;
  border-radius: 15px;
  height: 85px;
  width: calc(100vw - 10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  font-family: 'Ubuntu';
}

nav ul {
  padding: 0 10px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#iconLazzy {
  font-family: 'Unbounded';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 70px;
  width: 150px;
  background-color: rgb(255, 85, 85);
  color: white;
  border-radius: 15px;
  margin-left: 10px;
}

.length-container p {
  margin: 40px;
}

#dbBtn,
#settingsBtn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  width: 110px;
  height: 70px;
  background-color: gray;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  padding: 0 10px;
}

.window-container {
  position: absolute;
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 1000px;
  width: 100%;
  height: 890px;
  background-color: black;
  border-radius: 15px;
}

#domainInput,
#logInput,
#doSmth {
  font-family: 'Ubuntu';
  width: 300px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid white;
  font-size: 18px;
  margin-top: 10px;
}

#doSmth {
  cursor: pointer;
}

#doSmth:hover {
  animation-name: hoverBtn;
  animation-duration: 0.2s;
  background-color: rgb(255, 85, 85);
  border-color: rgb(255, 85, 85);
  color: white;
}

#lengthPass {
  position: relative;
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 40px;
  font-family: "Unbounded";
}

@media (max-width: 600px) {
  .Notification, .Result {
    width: 80vw;
  }
  #iconLazzy {
    font-size: 10px;
  }
  .window-container {
    height: 180vw;
  }
}

.Notification,
.Result {
  margin: 0 auto;
  max-width: 500px;
  max-height: 800px;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  font-family: "Unbounded";
  border: 2px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9999;
  cursor: pointer;
}

.Notification {
  justify-content: center;
  align-items: center;
}

.Result {
  overflow: scroll;
  cursor: default;
  justify-content: left;
  text-align: left;
  background-color: black;
}

#buttonS {
  gap: 10px;
  display: flex;
}

.Result div:not(:first-child, #buttonS) {
  cursor: pointer;
  margin-top: 10px;
  background-color: rgb(73, 73, 73);
  border-radius: 15px;
}

.Result div:not(:first-child) h1,
.Result div:not(:first-child) p {
  margin: 12px;
}

.Result div p {
  overflow-wrap: break-word;
}

.Result:first-child {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.Notification h1,
.Result h1 {
  font-size: 18px;
}

.Notification p,
.Notification h1 {
  margin-left: 10px;
}

.Notification p {
  font-size: 15px;
}

.Result p {
  font-size: 10px;
}

.closeBtn,
#downloadBtn {
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  font-size: 20px;
  font-family: "Ubuntu";
  border-radius: 50px;
  width: 50%;
  height: 50px;
  cursor: pointer;
}

.closeBtn:hover, #downloadBtn:hover {
  animation-name: hoverBtn;
  animation-duration: 0.2s;
  background-color: rgb(255, 85, 85);
  color: white;
}

.passCreate {
  background-color: rgb(0, 189, 0);
  animation-name: passCreate;
  animation-duration: 1s;
}
.animationNotif {
  animation-name: notifAdd;
  animation-duration: 1s;
}
.deleteNotif {
  animation-name: notifDelete;
  animation-duration: 1s;
}
.textNotifAdd {
  animation-name: textNotifAdd;
  animation-duration: 2s;
}
.deleteTextNotif {
  animation-name: deleteTextFromNotif;
  animation-duration: 1s;
}
@keyframes notifAdd {
  from {
    color: rgba(0, 0, 0, 0);
    margin-top: -10px;
  }
  to {
    color: rgba(255, 255, 255, 1);
  }
}
@keyframes textNotifAdd {
  from {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes notifDelete {
  to {
    color: rgba(255, 255, 255, 0);
    background-color: rgba(117, 117, 117, 0);
    border: 2px solid rgba(117, 117, 117, 0);
  }
}
@keyframes deleteTextFromNotif {
  to {
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes passCreate {
  to {
    background-color: rgb(0, 189, 0);
  }
}
@keyframes hoverBtn {
  from {
    background-color: rgb(255, 255, 255);
  }
}